<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
        <mat-icon color="warn" class="logoIcon">library_music</mat-icon>
        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="10">
        <button mat-raised-button routerLink="">Main page</button>
        <button mat-raised-button routerLink="/genres">Genres</button>
        <span></span>
        <button mat-raised-button routerLink="/login">Login</button>
    </div>
</header>
